# Python
__pycache__/
*.pyc
*.pyo
.eggs/

# Virtual environment
venv/
.venv/
env/

# Environment variables (NEVER commit secrets)
.env

# OS garbage
.DS_Store
Thumbs.db

# VS Code
.vscode/week1/data/*_summary.csv
*_summary.csv
